.header
  .header_title
    CROSS OVER JAPAN in MORIOKA
    .header_sub_title
      震災復興支援PROJECT
      .header_menu
        プロフィール　活動履歴　募金はこちら　リンク　特設ページ

.wrap.top-page
  .top-content
  .left-content
  .right-content

.